/**
 * for icomoon style
 * \.icon-(.*):before {\n\s+content: (.*);\n}
 * $1: $2,
 */

// .icon-sample:before {
//   content: "\e000";
// }

$icons:(
  any-icon: "\e000",
);

@mixin icon($icon: false, $position: before) {
  @if $position == both {
    $position: 'before, &:after';
  }

  &::#{$position} {
    @if $icon {
      content: "#{map-get($icons, $icon)}";
      /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
      font-family: 'icomoon';
      // speak: none;
      // font-style: normal;
      font-weight: normal;
      // font-variant: normal;
      // text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    @content;
  }
}
