@media (--mobile) {
  .u-sp-hidden {
    display: none !important;
  }

  .u-sp-block {
    display: block !important;
  }

  .u-sp-flex {
    display: flex !important;
  }

  .u-sp-inlineBlock {
    display: inline-block !important;
  }

  .u-sp-inline {
    display: inline !important;
  }
}

@media (--desktop) {
  .u-sp-block,
  .u-sp-flex {
    display: none !important;
  }

  .u-sp-inlineBlock {
    display: none !important;
  }

  .u-sp-inline {
    display: none !important;
  }
}
